<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application>
    <!-- 홈 위젯 프로바이더. 라이브러리 매니페스트가 앱 매니페스트에 병합됨. -->
    <receiver
      android:name="expo.modules.widgetbridge.BrakepointWidgetProvider"
      android:exported="true"
      android:label="브레이크포인트">
      <intent-filter>
        <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
      </intent-filter>
      <meta-data
        android:name="android.appwidget.provider"
        android:resource="@xml/brakepoint_widget_info" />
    </receiver>
  </application>
</manifest>
